<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aqua;">
    <center>
        <h1 style="color: blueviolet;">This is Rohit page</h1>
        <h1 style="color:blueviolet">This rendering operation used to render function </h1>
        <a href="{% url 'Dhoni' %}">Navigate to Dhoni page</a>
    </center>
</body>
</html>